* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  color: #484848;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 h2 h3 {
  color: #637a91;
  font-weight: 600;
}

header h1 {
  font-size: 2rem;
}

header p, header h1 {
  margin: 0;
  line-height: .9;
  text-align: center;
}

header {
  margin: 10px 0;
  display: flex;
}

@media only screen and (max-width: 450px) {
  body {
    max-width: 95%;
  }
  header {
    flex-direction: row;
    align-items: center;
  }
  * {
    border: 1px solid red;
  }
}

@media only screen and (min-width: 760px) and (orientation: landscape) {
  .searchBox {
    width: 50%;
    padding: 10px 10px;
    border: 1px solid #7A8694;
    border-radius: .3em;
  }
  body {
    max-width: 980px;
  }
  header {
    justify-content: space-between;
  }
  header div {
    margin-left: 5%;
  }
  header button {
    margin-right: 5%;
  }
  * {
    border: 1px solid blue;
  }
}
