*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #484848;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 h2 h3 {
  color: #637a91;
  font-weight: 600;
}

header h1 {
  font-size: 2rem;
}

header p, header h1 {
  margin: 0;
  /* line-height: .9; */
  text-align: center;
}

header {
  margin: 10px 0;
  display: flex;
}
#addBtn{
  padding: 20px;
}

/* @media only screen and (max-width: 450px){
  body {
    max-width: 95%;
    border: 4px solid red;
  }
  header {
    flex-direction: column;
    justify-content: center;

  }
  header div {
    display: flex;
    flex-direction: column;
  }
} */

@media only screen and (min-width: 960px) and (orientation: landscape) {
  .searchBox {
    width: 50%;
    padding: 10px 10px;
    border: 1px solid #7A8694;
    border-radius: .3em;
  }
  body {
    max-width: 980px;
    border: 4px solid blue;
  }
  header {
    justify-content: space-between;
  }
  header div {
    margin-left: 5%;
  }
  header button {
    margin-right: 5%;
  }
}

/* Table styling pasted */

table {
  /* max-width: 960px; */
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: center;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}
