*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #484848;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin: 0 auto;
}

main {
  flex: 1;
}

h1 h2 h3 {
  font-weight: 600;
}

header h1 {
  font-size: 2rem;
}

header p, header h1 {
  margin: 0;
  text-align: center;
}

header {
  background-color: lightgrey;
  padding: 20px 0;
  display: flex;
}

#addBtn {
  padding: 15px;
}

/* Table styling pasted */

table {
  width: 95%;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: darkgrey;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: center;
  padding: 5px;
  font-weight: 300;
}

/* tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
} */

@media only screen and (min-width: 960px) and (orientation: landscape) {}

#searchBox {
  width: 50%;
  height: 20%;
  padding: 15px 15px;
  border: 1px solid #7A8694;
  border-radius: .3em;
}

body {
  max-width: 980px;
  border: 4px solid blue;
}

header {
  padding-top: 2%;
  justify-content: space-between;
  align-items: center;
}

header div {
  margin-left: 5%;
}

header button {
  margin-right: 7%;
}

/* @media only screen and (max-width: 450px){
  body {
    max-width: 95%;
    border: 4px solid red;
  }
  header {
    flex-direction: column;
    justify-content: center;

  }
  header div {
    display: flex;
    flex-direction: column;
  }
} */
