*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #484848;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin: 0 auto;
}

#contentWrapper {
  flex: 1;
}

h1 h2 h3 {
  font-weight: 600;
}

header h1 {
  font-size: 2rem;
}

header p {
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

header p, header h1 {
  margin: 0;
  text-align: center;
}

header {
  background-color: lightgrey;
  display: flex;
}

header button {
  padding: 1.3rem;
  mregin-left: 1rem;
  margin-right: 1rem;
}

#searchBox, #srchBtn, #addBtn {
  border-radius: 0.5em;
  border-width: thin;
  cursor: pointer;
}

#srchBtn, #addBtn {
  background-color: #c5ccd2;
  /* color: white; */
}

.controlButtons button {
  color: white;
  border: solid 1px;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 2px;
  padding: 2px 7px;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.remove {
  background: #768da3;
}

.up {
  background: #52bab3;
}

.down {
  background: #508abc;
}

table {
  width: 95%;
  margin: 0.7rem auto;
}

caption {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: darkgrey;
  color: #FFF;
  padding: 0.5rem;
  font-weight: bold;
}

tr {
  background: #f4f7f8;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: center;
  padding: 5px;
  font-weight: 300;
}

/* Left-Over Styles

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
} */

body {
  position: relative;
}

#pageCover {
  position: absolute;
  background-color: rgba(242, 242, 242, 0.85);
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#modalWrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#myModal {
  background-color: #00c;
  background-color: #f2f2f2;
  border: solid 2px darkgrey;
  margin: 0, auto;
  padding: 30px;
  z-index: 777;
}

@media only screen and (min-width: 960px) and (orientation: landscape) {
  #searchBox {
    width: 45%;
    height: 45px;
    padding: 25px 15px;
    border-radius: .3em;
  }
  body {
    border: 2px solid blue;
    /* blue border for debuging media queries */
  }
  header {
    justify-content: space-between;
    align-items: center;
    padding: 2% 5% 2% 5%;
  }
}

@media only screen and (max-width: 450px) {
  body {
    max-width: 95%;
    border: 4px solid red;
  }
  header {
    flex-direction: column;
    justify-content: center;
  }
  header div {
    display: flex;
    flex-direction: column;
  }
}
